#############
# IDE trash #
#############

# IntelliJ IDEA

.idea/

*.iml

# Visual Studio Code

.vscode/

# Cloud9

.c9/

###################
# Ecosystem trash #
###################

# NodeJS

node_modules/

# .NET

bin
obj

# Various

*.log

#################
# Project trash #
#################

build/
cache/
coverage/
dist/
temp/
var/
